{% extends 'layout.html.twig' %}
{% block content %}
    <form action="#" method="post">
        {{ form_widget(form.url, {attr: {placeholder: 'please enter a url'}}) }}
        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block trace %}
{% if formErrors %}
    <div class="formErrors">
    {{ formErrors }}
    </div>
{% endif %}
{% if urlToCheck %}
<div>
    <iframe id="ifr" src="{{ app.request.basePath }}/iframe?urlToCheck={{ urlToCheck }}">Functionality unavailable in your browser</iframe>
</div>
{% endif %}

{% endblock %}

